In [1]:
 # Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:
## NASA Mars News

# URL
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# HTML object
news_html = browser.html

news_soup = BeautifulSoup(news_html, 'html.parser')

In [33]:
# Finding and storing news title and paragraph

news_title = news_soup.find('li', class_='slide').find('div', class_='content_title').text
news_p = news_soup.find('li', class_='slide').find('div', class_='article_teaser_body').text
print(news_title)
print(news_p)

NASA's Treasure Map for Water Ice on Mars
A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.

In [55]:
## JPL Mars Space Images - Featured Image

#URL
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

#HTML object
image_html = browser.html

image_soup = BeautifulSoup(image_html, 'html.parser')

In [56]:
# Finding and storing the image

image = image_soup.find(class_='button fancybox')['data-fancybox-href']
featured_image_url = 'https://www.jpl.nasa.gov/'+ image
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA19083_ip.jpg

In [3]:
## Mars Weather

# URL

weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

# HTML object
weather_html = browser.html

weather_soup = BeautifulSoup(weather_html, 'html.parser')

In [5]:
# Finding and storing Tweet text

mars_weather = weather_soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather = mars_weather.split('pic')[0]
print(mars_weather)

InSight sol 371 (2019-12-12) low -96.6ºC (-141.9ºF) high -19.8ºC (-3.6ºF)
winds from the SW at 5.3 m/s (11.8 mph) gusting to 21.0 m/s (46.9 mph)
pressure at 6.60 hPa

In [68]:
## Mars Facts

# URL
marsfacts_url = 'https://space-facts.com/mars/'

In [70]:
# Using Pandas to read and get table

marsfacts_table = pd.read_html(marsfacts_url)
marsfacts_df = pd.DataFrame(marsfacts_table[0])
marsfacts_df.columns = ['Fact','Value']
marsfacts_df = marsfacts_df.set_index('Fact')

marsfacts_df

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [71]:
marsfacts_html = marsfacts_df.to_html()
marsfacts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [3]:
## Mars Hemispheres

# URL
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

# HTML object
hem_html = browser.html

hem_soup = BeautifulSoup(hem_html, 'html.parser')

In [4]:
results = hem_soup.find_all('div', class_='item')

# Create a list
hemisphere_image_urls = []
     

# Store the main URL 
base_url = 'https://astrogeology.usgs.gov' 
         

 # Loop through results
for x in results: 
    # Store title
    title = x.find('h3').text
            
    # Store link to full image
    partial_img_url = x.find('a', class_='itemLink product-item')['href']
            
    browser.visit(base_url + partial_img_url)
            
    # HTML object 
    partial_img_html = browser.html
            
    soup = BeautifulSoup( partial_img_html, 'html.parser')
            
    img_url = base_url + soup.find('img', class_='wide-image')['src']
            
    # Append to list 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]